body{
    font-family: Arial, sans-serif;
    background-color: rgba(89, 104, 243, 0.753);
    text-align: center;
    padding: 40px;
}

.container {
    background: rgb(118, 190, 253);
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-width: 3px;
    border-style: solid;
}

h1{
    color: rgb(47, 27, 73);
}

#contador {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

button {
    padding: 10px 16px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
